.home{
    width:20% ;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 171px 2%;
    position: relative;
    border-right: 4px solid #1e2029;
}

.icon2{
  color: #4a1e6b ;
  font-size: 30px;
  position: absolute;
  bottom: 25px;
  cursor: pointer;
 left: 45%;
}




.home a.active { /* Estilo para o link ativo dentro de .home */
    color: white;
  }


.menu_mobile{
  display: none;
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    z-index: 999;
}
  @media screen and (max-width:768px) {
    .home {
        display: none;
        width: 70%;
        z-index: 5;
        padding: 130px 2%;
        position: absolute;
      }
      .home.show {
        display: flex; /* ou block, conforme necessário */
      }

      .menu_mobile{
        display: block;
      
      }
}
