.home{
    background-color: #38055d;
    width:20% ;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 171px 2%;
 
}


.home .img{

    width: 100%;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    background-image: url("../../assets/eu.jpg");
    background-position: center;
    background-size: 100% 100%;
    border: 7px solid #866f97;
    background-repeat: no-repeat;
}

.home a{
    text-decoration: none;
    color: #866f97;
    font-size: 20px;
    margin: 10px 0;
}

.home a:hover{
    color: white;
}

.home a.active { /* Estilo para o link ativo dentro de .home */
    color: white;
  }


.menu_mobile{
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    z-index: 999;
}
  @media screen and (max-width:768px) {
    .home {
        display: none;
        width: 70%;
        z-index: 5;
        padding: 130px 2%;
        position: absolute;
      }
      .home.show {
        display: flex; /* ou block, conforme necessário */
      }

      .home .img{
        
      }
}
