*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.b {
    background-color: #17181f;
    
}


#root{
    display: flex;
    overflow: hidden;
}

.b h2{
    font-size: 45px;
    color: #8130a1;
    font-weight: normal;
}

.b h3{
    font-size: 16PX;
    font-weight: normal;
    color:  #866f97;
}

.b b{
    font-weight: normal;
    color: #eb81b1;
}

.b .icon{
    font-size: 30px;
    margin-right: 30px;
    color:  #e86bc9;
    margin-bottom: 40px;
}

.b p{
    color: #e86bc9;
}

.b a{
    text-decoration: none;
    color: #38055d;
}

.b .border{
    border: 8px solid  #17181f;
}

.b.pages a{
    z-index: 5;
      text-decoration: none;
      color: #866f97;
      font-size: 16px;
      margin: 6px 0;
  }
  
 .b .pages a:hover{
      color: white;
  }

  .b  .img{
    z-index: 5;
    width: 100%;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    background-image: url("../../assets/eu.jpg");
    background-position: center;
    background-size: 100% 100%;
    border: 7px solid #866f97;
    background-repeat: no-repeat;
}
.b.pages a.active { /* Estilo para o link ativo dentro de .home */
    color: white;
  }







.w{
    background-color: #d5d9db;
}

.w2{
    background-color: #a8919b;
}


.w h2{
    font-size: 45px;
    color: #4a1e6b;
    font-weight: normal;
}

.w h3{
    font-size: 16PX;
    font-weight: normal;
    color:  #866f96;
}

.w b{
    font-weight: normal;
    color: #866f96;
}

.w .icon{
    font-size: 30px;
    margin-right: 30px;
    color:  #37055c;
    margin-bottom: 40px;
}

.w p{
    color: black;
}

.w a{
    text-decoration: none;
    color: #38055d;
}

.w .border{
    border: 8px solid  #d5d9db;
}

.w.pages a{
      z-index: 5;
      text-decoration: none;
      color: #866f97;
      font-size: 16px;
      margin: 6px 0;
  }
  
 .w.pages a:hover{
      color:#e86bc9;
  }

  .w.pages a.active { /* Estilo para o link ativo dentro de .home */
    color: #e86bc9;
  }

  .w .img{
    z-index: 5;
    width: 100%;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    background-image: url("../../assets/eu.jpg");
    background-position: center;
    background-size: 100% 100%;
    border: 7px solid #866f97;
    background-repeat: no-repeat;
}


 .home::before{
    content: '';
    background-image: url('../../assets/background.svg');
    height: 60vh;
    width: 140%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
  
   .home::after{
    content: '';
    background-image: url('../../assets/background.svg');
    height: 60vh;
    width: 140%;
    transform: rotate(-180deg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  
  @media screen and (max-Width:768px) {
    .b .img{
        display: none;
      }

      .w .img{
        display: none;
      }

      .w.pages a{
        margin: 0 10px;
        font-size: 16px;
    }
    .b.pages a{
        margin: 6px 10px;
        font-size: 16px;
    }

    .home::before{
        height: 130px;
      }
      
       .home::after{
      
        height: 130px;
        transform: rotate(-180deg);
        
      }

     
  }

  
  
  @media screen and (max-Width:328px) {
   

    .w.pages a{
       margin: 0 46px;
    }
    .b.pages a{
        margin: 0 30px;
    }

    .home::before{
        height: 90px;
      }
      .home::after{
      
        height: 90px;
       
      }
      
  }
  