.tecnologias{
    
    width: 80%;
    /*display: flex;*/
    display: flex;
    text-align: left;
}

.container{
    margin: auto;
    padding: 0 4%;
    width: 100%;
}

.tecnologias .container h2{
    text-align: left;
    margin-bottom: 20px;
}

.tecnologias h3{
    margin-bottom: 40px;
}

.tecnologias p{
    margin-bottom: 12px;
}



@media screen and (max-width:768px) {
    .tecnologias{
        width: 100vw;
        height: 100vh;
    }
    
}


