.project{
    width: 80%;
    display: block;
    
}

.container{
    margin: auto;
    padding: 0 2%;
}

.container h2{
    text-align: center;
    padding: 40px 0;
}



.projeto_box {
    height: 70vh;
    margin: 10px 0;
    border: 3px solid #38055d;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .8s ease-in-out;
  }


.projeto_gif{
    width: 92%;
    margin: 20px auto;
    height: 50%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


  .projeto_box:hover .projeto_gif ,.projeto_box:hover h3{
    display: none;
    transition: 8s;
  }

.gif1{
    background-image: url("../../assets/projetos/Rmcars.gif");
}

.gif2{
    background-image: url("../../assets/projetos/amazon.gif");
}

.gif3{
    background-image: url("../../assets/projetos/monguilhott.gif");
}

.gif4{
    background-image: url("../../assets/projetos/Deshboard.gif");
}

.gif5{
    background-image: url("../../assets/projetos/agenciaCOde.gif");
}

.gif6{
    background-image: url("../../assets/projetos/game.gif");
}

.projeto_info{
    width: 100%;
    height: 80%;
    text-align: center;
    display:none;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.projeto_box h3{
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
}

.projeto_info p{
    padding: 0 30px;
    font-size: 17px;
    

}

.projeto_tec{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    height: 20%;
    margin-left: 18px;
    width: 100%;
}

.projeto_tec a{
    font-size: 25px;
    margin:0 15px;
}

.projeto_box:hover .projeto_info {
    display: flex;
  }

 .projeto_box:hover .projeto_tec{
    display: flex;
 }

@media screen and (max-width:768px) {
    .project{
        padding-top: 80px;
        width: 100vw;
        height: 80vh;
    }

    .projeto_box {
        height: 600px;
        
      }


}
