.project{
    width: 80%;
    display: block;
    
}

.container{
    margin: auto;
    padding: 0 2%;
}

.container h2{
    text-align: center;
    padding: 40px 0;
}



.projeto_box {
    height: 500px;
    margin: 10px 0;
    border: 3px solid #38055d;
    position: relative;
  }

.projeto_gif{
    width: 92%;
    margin: 20px auto;
    height: 50%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.gif1{
    background-image: url("../../assets/projetos/Rmcars.gif");
}

.gif2{
    background-image: url("../../assets/projetos/amazon.gif");
}

.gif3{
    background-image: url("../../assets/projetos/monguilhott.gif");
}

.gif4{
    background-image: url("../../assets/projetos/Deshboard.gif");
}

.gif5{
    background-image: url("../../assets/projetos/agenciaCOde.gif");
}

.gif6{
    background-image: url("../../assets/projetos/game.gif");
}

.projeto_info{
    text-align: center;
}

.projeto_info h3{
    margin: 15px 0;
    font-size: 25px;
}

.projeto_info p{
    padding: 0 30px;
    font-size: 17px;
}

.projeto_tec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10%;
}

.projeto_tec a{
    font-size: 25px;
    margin:0 15px;
}

@media screen and (max-width:768px) {
    .project{
        padding-top: 80px;
        width: 100vw;
        height: 80vh;
    }

    .projeto_box {
        height: 600px;
        
      }


}
