.project{
    width: 80%;
    display: block;
    overflow-x: hidden;
}

.container{
    margin: auto;
    padding: 0 2%;
}

.container h2{
    text-align: left;
    padding: 40px 0;
}


.container .title-stack {
    text-align: center;
    margin: 25px 0;
    font-size: 30px;
}


.projeto_box {
    height: 90vh;
    margin: 10px 0;
    border: 3px solid #38055d;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .8s ease-in-out;
    cursor: pointer;
  }


.projeto_gif{
    width: 92%;
    margin: 20px auto;
    height: 50%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.projeto_gif_app{
     width: 72%;
    margin: 20px auto;
    height: 80%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}





.projeto_info{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.projeto_box h3{
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
}

.projeto_info p{
    padding: 0 30px;
    font-size: 17px;
    

}

.projeto_tec{
    position: absolute;
    bottom: -25px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    margin-left: 18px;
    width: 100%;
    
}

.projeto_tec a{
    font-size: 25px;
    margin:0 15px;
}


.gif1{
    background-image: url("../../assets/projetos/Rmcars.gif");
}

.gif2{
    background-image: url("../../assets/projetos/helia.gif");
}

.gif3{
    background-image: url("../../assets/projetos/monguilhott.gif");
}

.gif4{
    background-image: url("../../assets/projetos/Deshboard.gif");
}

.gif5{
    background-image: url("../../assets/projetos/agenciaCOde.gif");
}

.gif6{
    background-image: url("../../assets/projetos/game.gif");
}

.gif7{
    background-image: url("../../assets/projetos/SPORTSHOPPING.gif");
}

.gif8{
    background-image: url("../../assets/projetos/gitfind.gif");
}


@media screen and (max-width:768px) {
    .project{
        padding-top: 80px;
        width: 100vw;
        height: 80vh;
    }

    .projeto_box {
        height: 600px;
        
      }


}
