.tecnologias{
    background-color: rgb(212, 217, 219);
    width: 80%;
    display: flex;
    text-align: left;
}

.container{
    margin: auto;
    padding: 0 4%;
    width: 100%;
}

.tecnologias h2{
    font-size: 45px;
    color: #38055d;
    font-weight: normal;
    margin-bottom: 30px;
}

.tecnologias h3{
    font-size: 16PX;
    font-weight: normal;
    color: #866f97;
    margin-bottom: 40px;
}

.tecnologias p{
    margin-bottom: 12px;
}

.icon{
    font-size: 30px;
    margin-right: 30px;
    color: #38055d;
    margin-bottom: 40px;
}

